* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero img {
    /* background-image: url('ID-id-20250623-TRIFECTA-perspective_f3e73fad-d967-4679-bf99-23ff66bc0975_large.jpg'); */
    background-position: center;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.layer-1 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    z-index: 2;
}

.hero-container {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: auto;
    height: 120px;
    display: flex;
    align-items: center;
}

.header img {
    width: auto;
    height: 64px;
}

.btn {
    width: 286.2px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
}

.btn>.language {
    width: 198.8px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F1F1F;
    border-radius: 4px;
    border: 1px solid white;
}

.btn>.header-enter-btn {
    width: 75.2px;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E50914;
    border-radius: 4px;
    border: none;
}

.btn>.header-enter-btn a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.btn>.header-enter-btn a>span {
    font-size: 20px;
}

.container {
    width: 642.72px;
    height: 296px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.container h1 {
    color: white;
    font-size: 56px;
    text-align: center;
    font-weight: 800;
}

.container #price {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.container p {
    color: white;
    font-size: 16px;
}

.container>.input-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.input-hero input {
    width: 435px;
    height: 56px;
    background-color: rgba(36, 36, 36, 0.8);
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.container>.input-hero a {
    width: 140px;
    height: 56px;
    margin-left: 13px;
    text-decoration: none;
}

.container>.input-hero a>.send-box {
    width: 140px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: #E50914;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.content {
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    top: 0px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-content {
    max-width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 90px;
    margin-top: 20px;
}

.trend {
    max-width: 100%;
    height: 345px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 22px;
}

.sub-title-trend {
    max-width: 100%;
    height: 33px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.trending-container {
    max-width: 100%;
    height: 290px;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.list-items {
    display: flex;
    gap: 36px;
}

.item {
    flex-shrink: 0;
    width: 211px;
    height: 275px;
    transition: transform 0.2s ease-in-out;
}

.item-photo {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: -100%;
    right: -26px;
}

.item-nmr {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item-nmr h2 {
    font-size: 100px;
    color: black;
    /* -webkit-text-stroke: 1.5px white; ketebalan lalu warna */
    text-shadow:
        /* Diagonal */
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white,
        /* Horizontal & Vertikal */
        -2px 0 0 white,
        2px 0 0 white,
        0 -2px 0 white,
        0 2px 0 white;
}

.item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.trending-container::-webkit-scrollbar {
    display: none;
    /* Untuk Chrome, Safari, dan Edge */
}

.trending-container {
    -ms-overflow-style: none;
    /* Untuk Internet Explorer dan Edge (versi lama) */
    scrollbar-width: none;
    /* Untuk Firefox */
}

.alasan {
    width: 100%;
    height: 379.8px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.sub-title-alasan {
    max-width: 100%;
    height: 28px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.list-alasan-container {
    width: 100%;
    height: 328.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.list-alasan{
    flex: 1;
    height: 91%;
    background-image: linear-gradient(129deg, #192247, #21100E);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.list-alasan-title{
    max-width: 100%;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.list-alasan-par{
    max-width: 100%;
    font-size: 18px;
    color: white;
}

.vector{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.vector img{
    width: 100px;
    height: auto;
}

.tanya-jawab{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    color: white;
}

.sub-title-tanyajawab{
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 500;
}

.list-tanya-jawab-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.list-tanya-jawab{
    flex: 1;
    height: 84px;
    background-color: #2D2D2D;
    padding: 20px 32px;
    display: flex;
    align-items: center;
}

.name-list-tanya-jawab{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.tanda-plus span{
    font-size: 46px;
}

.content-email{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-email-container{
    width: 788px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.content-email-parg{
    width: 100%;
    height: auto;
    color: white;
    font-size: 16px;
    font-weight: 500;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-email-input{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.email-box-input{
    width: 630.01px;
    height: auto;
    display: flex;
}

.email-box-input input{
    /* width: 100%; */
    flex: 1;
    height: 56px;
    background-color: rgba(36, 36, 36, 0.8);
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.btn-email-box-input{
    width: 140px;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-email-box-input a{
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E50914;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-top: 112px;
    padding-bottom: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}

footer > .telp{
    width: 100%;
    height: auto;
    font-size: 16px;
}

.nav-foot{
    width: 100%;
    height: 175px;
}

.nav-foot-container{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,35px);
}

.footer-container > .language{
    width: 198.8px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F1F1F;
    border-radius: 4px;
    border: 1px solid white;
}

.footer-container > .company-name{
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (min-width: 1024px) and (max-width:1480px){
    
}